* {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    background-color: #83b5b1;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        'header header'
        'gif gif'
        'text text'
        'c1 c2'
        'return return'
        'copy copy'
}

h1,
h3,
p,
a {
    text-align: center;
    color: #131f57;
}

h1 {
    font-size: 60px;
    font-family: 'kablammo', monospace;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3,
.copyright {
    font-style: italic;
}

h3,
p,
a {
    font-family: 'patrick hand', monospace;
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.text,
a {
    padding: 20px;
    border: #165b49 solid 5px;
}

.text {
    background-color: #b19482;
}

a {
    background-color: #6dc5ad;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

a:hover {
    background-color: #bcd0d3;
    border-color: #235b71;
}

a:active {
    background-color: #b19482;
    border-color: #4b2328;
}

a:visted {
    color: #131f57;
}

header {
    grid-area: header;
}

.gif {
    grid-area: gif;
    border: #165b49 solid 5px;
}

.text {
    grid-area: text;
}

.choice1 {
    grid-area: c1;
}

.choice2 {
    grid-area: c2;
}

.return {
    grid-area: return;
    margin-top: 20px;
}

.copyright {
    grid-area: copy;
}

.border1,
.border2 {
    display: none;
}

@media (max-width:915px) {
    * {
        width: 100%;
    }

    .gif {
        width: 100%;
    }

    h1,
    p {
        width: 100%;
    }

    a {
        width: 100%;
    }
}

@media (min-width:1440px) {

    .border1,
    .border2 {
        position: fixed;
        width: 300px;
        top: 0;
        display: block;
        height: 100%;
    }

    .border1 {
        right: 0;
    }

    .border2 {
        left: 0;
    }
}