* {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    background-color: #75b3ae;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        'header header header'
        'gif gif gif'
        'text text text'
        'c1 . c2'
        're re re'
}

h1,
h3,
p,
a {
    text-align: center;
    color: #131f57;
}

h1 {
    font-size: 60px;
    font-family: 'kablammo', monospace;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-style: italic;
}

h3,
p,
a {
    font-family: 'patrick hand', monospace;
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

p,
a {
    padding: 20px;
    border: #165b49 solid 5px;
}

p {
    background-color: #9b7c69;
}

a {
    background-color: #59b19a;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
    width: 400px;
}

a:hover {
    background-color: #bcd0d3;
    border-color: #235b71;
}

a:active {
    background-color: #9b7c69;
    border-color: #4b2328;
}

a:visted {
    color: #131f57;
}

header {
    grid-area: header;
}

.gif {
    grid-area: gif;
}

.text {
    grid-area: text;
}

.choice1 {
    grid-area: c1
}

.choice2 {
    grid-area: c2;
}

.return {
    grid-area: re;
    margin-top: 20px;
    width: 100%;
}