#layout1 div {
    margin-top: 5%
}

.long {
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-top: unset;
}

h1 {
    font-size: 2.5rem;
    margin-top: unset
}

p {
    line-height: 1.8rem;
}

p:first-letter {
    font-size: 1.7rem;
}

.two,
.five,
.seven,
.ten {
    text-align: right;
}

.four,
.eight {
    text-align: justify;
}

.quote {
    font-size: 1.5rem;
    font-style: italic;
}

.one {
    margin-right: 30%;

}

.two {
    margin-left: 40%;

}

.two>.quote {
    margin-right: 20%
}

.three {
    margin-right: 40%
}

.four {
    width: 70%;
    margin: 0 auto;
}

.five {
    margin-left: 30%
}

.five>.quote {
    margin-right: 40%
}

.six {
    margin-right: 40%
}

.seven {
    margin-left: 20%
}

.seven>.quote {
    margin-right: 20%
}

.eight {
    width: 80%;
    margin: 0 auto;
}

.nine {
    margin-right: 40%
}

.nine>.quote {
    margin-left: 40%;
}

.ten {
    margin-left: 40%
}

.eleven {
    margin-right: 30%
}

.four,
.eight {
    margin-top: 5%;
}

h3 {
    position: relative;
    right: 20%
}

h2 {
    text-align: center;
    margin: 0 auto;
}

.end {
    text-align: justify;
    width:70%;
    margin: 0 auto;
}

/* ********************************************* */
/* layout 2 electric boogaloo */

#layout2 main {
    display:grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(11, auto);
    grid-template-areas:
    't t t t t t'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'

}
#layout2 .title {
    grid-area:t;
}
#layout2 .one {
    grid-area:p1;
}
#layout2 .two {
    grid-area:p2;
}
#layout2 .three {
    grid-area:p3;
}
#layout2 .four {
    grid-area:p4;
}
#layout2 .five {
    grid-area:p5;
}
#layout2 .six {
    grid-area:p6;
}
#layout2 .seven {
    grid-area:p7;
}
#layout2 .eight {
    grid-area:p8;
}
#layout2 .nine {
    grid-area:p9;
}
#layout2 .ten {
    grid-area:p10;
}
#layout2 .eleven {
    grid-area:p11;
}
#layout2 .end {
    grid-area:e;
}