div {
    margin-top:5%
}

.grid {
        width: 90%;
        margin: 0 auto;
    }

    .title {
        text-align: center;
        margin-top:unset;
    }
    h1 {
    font-size:2.5rem;
    margin-top:unset
    }
p {
    line-height:1.8rem;
}
.two, .five, .seven, .ten {
    text-align:right;
}

.four, .eight{
    text-align:justify;
}

.quote {
    font-size:1.5rem;
    font-style:italic; 
}
.one {
    margin-right:30%;
    
}
.two {
    margin-left:40%;
    
}
.two > .quote {
    margin-right:20%
}
.three {
    margin-right:40%
}

.four {
    width:70%;
    margin: 0 auto;
}
.five {
    margin-left:30%
}
.five >.quote {
    margin-right: 40%
}

.six {
    margin-right:40%
}
.seven {
    margin-left:20%
}

.seven > .quote {
    margin-right:20%
}

.eight {
    width:80%;
    margin:0 auto; 
}

.nine {
    margin-right:40%
}

.nine > .quote {
    margin-left:40%;
}

.ten {
    margin-left: 40%
}

.eleven {
    margin-right:30%
}