h1,
h2,
h3 {
    text-align: center;
    background-color: gold;
}

p,
li {
    text-align: justify;
}

li {
    margin-right: 0.7rem;
}

code {
    background-color: lightgray;
    color: blue;
}

@media (min-width: 1024px) {
    main {
        display: grid;
        grid-template-areas:
            'h h'
            'o t'
            'o t'
            'f f';
    }

    h1,
    h2,
    h3 {
        text-align: center;
        background-color: red;
        color: white;
    }

    code {
        background-color: black;
        color: yellow;
    }

    #h {
        grid-area: h;
        margin-right: auto;
        margin-left: auto;
        width: 25vw;
    }

    #one {
        grid-area: o;
    }

    #two {
        grid-area: t;
    }

    #f {
        grid-area: f;
    }

}