header h1 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    width: 100%;
    height: 15rem;
    background-image:
        url(jeremias-ybanez-Vhlj6y-7ENA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

header p {
    text-align: center;
    font-style: italic;
    margin-top: 0;
    color: #000095;
}

body {
    background-color: #fff3dc;
}

#cheese {
    display: grid;
    grid-template-areas:
        'hed hed'
        'ing ing'
        'fil dou'
        'fil dou'
        'prep prep'
        'predou predou'
        'prefil prefil'
        'shp shp'
        'fot fot';
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

.ingridient {
    grid-area: ing;
}

#fill {
    grid-area: fil;
    margin-left: 1rem;
}

#dough {
    grid-area: dou;
}

#dough,
#fill {
    margin-right: 1rem;
}

h3 {
    text-align: center;
    background-color: #ffc75d;
    border-radius: 10px;
    padding: 10px;
    color: #000095;
}

.instruct {
    grid-area: prep;
}

.ingridient,
.instruct {
    margin-right: auto;
    margin-left: auto;
    background-color: #ffdb96;
    border-radius: 10px;
    padding: 0 10px;
    color: #000095;
}

#prepdough {
    grid-area: predou;
}

#prepfill {
    grid-area: prefil;
}

#shape {
    grid-area: shp;
}

header {
    grid-area: hed;
}

footer {
    grid-area: fot;
}

div ul, div ol {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    min-height: 200px;
}

@media (min-width:700px) {
    #cheese {
        display: grid;
        grid-template-areas:
            'hed hed hed ing ing'
            'hed hed hed fil dou'
            'hed hed hed fil dou'
            'prep prep prep prep prep'
            'predou predou predou predou predou'
            'prefil prefil prefil prefil prefil'
            'shp shp shp shp shp'
            'fot fot fot fot fot';
    }


    #prepdough,
    #prepfill,
    #shape {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        max-width: 700px;
    }

    div ul, div ol {
        line-height: 1.5rem;
        min-height: 100px;
    }

    header h1 {
        height: 25rem;
        text-align: left;
        text-indent:10px;
    }

    #fill ul,
    #dough ul {
        margin-left: 1rem;
        margin-right: 1rem;
        min-height: 220px;
    }

    .ingridient {
        margin-top:10px;
        padding-top:15px
    }

}


/* ------ recipe 2 css ------ */

#cookie header h1 {
    background-image: url(sj-YDvfndOs4IQ-unsplash.jpg);
}

#cookie {
    display:grid;
    grid-template-areas:
    'hed'
    'ing'
    'ingli'
    'prep'
    'preli'
    'fot';  
}

.ingridlist {
    grid-area:ingli;
}

.instructlist {
    grid-area:preli;
}

@media (min-width:700px) {
    #cookie {
        display: grid;
        grid-template-areas:
            'hed hed hed ing ing'
            'hed hed hed ingli ingli'
            'hed hed hed ingli ingli'
            'prep prep prep prep prep'
            'preli preli preli preli preli'
            'fot fot fot fot fot';
    }

    .instructlist ol {
        margin-right:auto;
        margin-left:auto;
        width: 75%;
        max-width: 700px;
    }

    .ingridlist ul {
        margin-left: 1rem;
        margin-right: 1rem;
        min-height: 220px;
    }
}


/* ------- recipe 3 css --------- */

#spaget header h1 {
    background-image: url(christine-sandu-Nx3OCfnRit8-unsplash.jpg);
}


/* --------- premade nav css --------- /*

/* CSS for responsive menu demo */

/* define variables */
:root {
    --nav-height: 3rem;
    --nav-bkgd-color: #000095;
    --nav-text-color: #ffdb96;
    --nav-hover-bkgd-color: #3636ff;
    --nav-hover-text-color: #ffc75d;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    content: "⌄";
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>ul>li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}


/* ----- MEDIA QUERY for landscape/desktop layout ----- */
@media screen and (orientation: landscape) {

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0;
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }

}