header h1 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    width: 100%;
    height: 15rem;
    background-image:
        url(jeremias-ybanez-Vhlj6y-7ENA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

header p {
    text-align: center;
    font-style: italic;
    margin-top: 0;
    color:#000095;
}

body {
    background-color:#fff3dc;
    display: grid;
    grid-template-areas:
        'hed hed'
        'ing ing'
        'fil dou'
        'fil dou'
        'prep prep'
        'predou predou'
        'prefil prefil'
        'shp shp'
        'fot fot';
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

#ingridient {
    grid-area: ing;
}

#fill {
    grid-area: fil;
    margin-left:1rem;
}

#dough {
    grid-area: dou;
}

#dough,
#fill {
    margin-right: 1rem;
}

h3 {
    text-align:center;
    background-color:#ffc75d;
    border-radius:10px;
    padding:10px;
    color:#000095;
}

#instruct {
    grid-area: prep;
}

#ingridient, #instruct {
    margin-right: auto;
    margin-left: auto;
    background-color:#ffdb96;
    border-radius:10px;
    padding:0 10px;
    color:#000095;
}

#prepdough {
    grid-area: predou;
}

#prepfill {
    grid-area: prefil;
}

#shape {
    grid-area: shp;
}

header {
    grid-area: hed;
}

footer {
    grid-area: fot;
}

ul, ol {
    background-color:white;
    border-radius:25px;
    padding:25px;
    min-height:200px;
}

@media (min-width:700px) {
    body {
        display: grid;
        grid-template-areas:
            'hed hed hed ing ing'
            'hed hed hed fil dou'
            'hed hed hed fil dou'
            'prep prep prep prep prep'
            'predou predou predou predou predou'
            'prefil prefil prefil prefil prefil'
            'shp shp shp shp shp'
            'fot fot fot fot fot';
    }

    
    #prepdough,
    #prepfill,
    #shape {
        margin-left: auto;
        margin-right: auto;
        width:75%;
    }

    ul, ol {
        line-height:1.5rem;
        min-height:100px;
    }

    header h1 {
        height: 25rem;
        text-align: left;
        
    }

    #fill ul,
    #dough ul {
        margin-left: 1rem;
        margin-right: 1rem;
        min-height:220px;
    }

}