body {
    background-color: #daf6ff;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    background: #e383c3;
    padding: 10px;
}

p {
    text-align: justify;
    border-bottom: 10px solid #2b3f10;
    padding-bottom: 10px;
}

#flower p {
    margin: 2px;
    border: none;
    padding: 0;
    text-align: center;

}

#flower h1 {
    margin-bottom: 0;
}

button {
    width: 100%;
    background-color: #ffc0cb;
    border-color: #e383c3;
}

/* dark mode css */

body.darkMode {
    background-color: #0f3845;
    color: white;
}

body.darkMode p {
    border-color: #b7df80;
}

body.darkMode h1 {
    background-color: #900060;
}

body.darkMode button {
    background-color: #ae3987;
    border-color: #900060;
    color: white;
}

/* media queries */

@media (min-width: 700px) {

    main {
        display: grid;
        grid-template-areas:
            'main main'
            'one two'
            'three three';
    }

    img {
        width: 50%;
    }

    h1 {
        font-size: 30px;
        margin: 0;
    }

    p {
        font-size: 20px;
        margin: 10px;
    }

    #flower h1,
    #three h1,
    #flower p {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #flower {
        grid-area: main;
        text-align: center;
    }

    #three {
        grid-area: three;
        text-align: center;
    }


    #two {
        grid-area: two;

    }

    #two p,
    #one p,
    #three p {
        height: 200px;
        text-align: center;
    }

    #one h1,
    #two h1 {
        margin-top: 10px;
    }

    #one {
        grid-area: one;
    }

}