header h1 {
    top: 1%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    width: 100%;
    height: 15rem;
    background-image:
        url(jeremias-ybanez-Vhlj6y-7ENA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header p {
    text-align: center;
    font-style: italic;
    margin-top: 0;
}

section {
    display: grid;
    grid-template-areas:
        'h h'
        'in in'
        'f d'
        'pre pre'
        'do do'
        'fi fi'
        's s';
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

#ingrid {
    grid-area: in;
    margin-left: auto;
    margin-right: auto;
}

#fill {
    grid-area: f;
}

#dough {
    grid-area: d;
}

#instruct {
    grid-area: pre;
    margin-right: auto;
    margin-left: auto;
}

#prepdough {
    grid-area: do;
}

#prepfill {
    grid-area: fi;
}

#shape {
    grid-area: s;
}

#head {
    grid-area: h;
}

@media (min-width:700px) {
    section {
    display: grid;
    grid-template-areas:
        'h h in .'
        'h h f .'
        'h h d .'
        'pre . . .'
        'do fi s s';
}
    #instruct {
        margin:0
    }

    #ingrid {
        margin:0 0 0 1;
    }

    header h1 {
        height:20rem;
        text-align:left;
    }

    #fill {
       margin-left:1.5rem;
    }
    #dough {
        margin-left:1.5rem;
    }
}