img {
    width: 100%;
    height: auto;
}

header h1 {
    position: absolute;
    top: 1%;
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;
    color: white;
}

header p {
    text-align: center;
    font-style: italic;
    margin-top: 0;
}

main {
    display:grid;
    grid-template-areas:
    'in in'
    'pre pre'
    'pre pre';
}
#ingrid {
    grid-area: in;
}

#fill {
    grid-area:f;
}

#dough {
 grid-area:d;
}

#instruct {
    grid-area: pre;
}